.MuiTooltip-popper .MuiTooltip-tooltip,
.MuiTooltip-popper .MuiTooltip-tooltip  .MuiTooltip-arrow:before {
  background-color: #181C25;
}
.MuiTooltip-popper .MuiTooltip-tooltip {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;  
  padding: 5px 12px;
}